
@{
    ViewBag.Title = "LoginCenter";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";

}




<p>

</p>

<body style="background-color:white">
        <div class="jumbotron" style="background-image: url(/Content/login2.jpg);padding-bottom:20%" >
            <h1>Login Center</h1>
            <div>
                <p><a class="btn btn-info" href="/Home/AdminLogin">Admin Login &raquo;</a></p>

            </div>

            <div>
                <p><a class="btn btn-info" href="/Home/StudentLogin">Student Login &raquo;</a></p>
            </div>

        </div>

</body>



